<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <params>
        <param name="OPPO_APPID" required="1" showName="AppID" desc="OPPO" bWriteInManifest="0" bWriteInClient="1" />
        <param name="OPPO_SECRET" required="1" showName="AppSecret" desc="OPPO" bWriteInManifest="0" bWriteInClient="1" /> 
 		<param name="OPPO_PAYURL" required="1" showName="AppPayUrl" desc="OPPO" bWriteInManifest="0" bWriteInClient="1" />
    	<param name="minSdkVersion" value="11" required="0" showName="版本号" desc="版本号" bWriteInManifest="1" bWriteInClient="0" />
    	<param name="targetSdkVersion" value="19" required="0" showName="版本号" desc="版本号" bWriteInManifest="1" bWriteInClient="0" />
    </params>
    
    <operations>
        <operation step="1" type="mergeManifest" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copyRes" from="assets" to="assets" />
        <operation step="3" type="copyRes" from="libs" to="lib" />
        <operation step="4" type="copyRes" from="res" to="res" />
        <operation step="5" type="copyRes" from="root" to="" />
    </operations>
    
    <plugins>
        <plugin name="com.u8.sdk.OPPOUser" type="1" desc="用户登录接口"/>
        <plugin name="com.u8.sdk.OPPOPay" type="2" desc="用户支付接口"/>
    </plugins>
    
    <version>
        <versionCode>1</versionCode>
        <versionName>2.0</versionName>
    </version>    
    
</config>